.time {
    font-weight: bold;
    font-size: 16pt;
}

    .time.horizontal {
        text-anchor: middle;
    }

    .time.vertical {
        text-anchor: start;
    }

.timeline {
    stroke: lightgray;
}

.distance {
}

.track {
    stroke: lightgray;
}

.number {
    font-weight: normal;
    font-size: 6pt;
}

    .number.horizontal {
        text-anchor: end;
    }
    .number.vertical {
        text-anchor: middle;
    }

.stationname {
    font-weight: bold;
    font-size: 12pt;
}

    .stationname.horizontal {
        text-anchor: start;
    }

    .stationname.vertical {
        text-anchor: middle;
    }

.stationkm {
    font-weight: normal;
    font-size: 7pt;
    text-anchor: middle;
}

    .stationkm.horizontal {
        text-anchor: end;
    }

    .stationkm.vertical {
        text-anchor: middle;
    }
