@page "/About"

<h1>About this App</h1>

<p>
    The app is published as <a href="https://github.com/tellurianinteractive/Tellurian.Trains.TimetablePlanningApp" target="_blank">open source on GitHub</a>.
    You can contribute to the development and are welcome to submit pull-requests.
</p>
<p>
    The app is based on Microsoft .NET and Blazor Webassembly, both open source on GitHub.
    Development is done with Microsoft Visual Studio Community Edition which is free.
</p>

