@page "/About"
<h1>About </h1>

<p>Read more about the Timetable Planning App on <a href="https://github.com/tellurianinteractive/Tellurian.Trains.TimetablePlanningApp" target="_blank">GitHub</a>.</p>
@code {

}
