@page "/Schedules"
@using TimetablePlanning.Components.Scheduling
@using TimetablePlanning.Components.Scheduling.Components
@using TimetablePlanning.Components.Scheduling.Services

@inject ITimetableService TimetableService

<h1>Graphich schedule example</h1>
<p>
    Try out by checking or unchecking the boxes.
</p>
<p>
    I addition (but not available in this demo), the graph can also be scaled both on time and station axis, colorisation of trains can be customized. Start and end hour is determined automatically by train times.

</p>

<GraphicalScheduleEditor TimetableStretches="TimetableStretches" />

@code {
    IEnumerable<Schedule>? TimetableStretches;

    protected override async Task OnParametersSetAsync()
    {
        TimetableStretches = await TimetableService.GetTimetableStretchesAsync();
    }
}