@page "/Examples"
<h1>Examples</h1>

<h2>Automatic train notes</h2>
<p>Automatic train notes are generated from data.
    The idea is that anything that can be deducted from data should not be entered manually.
    Automatic notes also has the advantage to easily be translated to any of the supported languages.
</p>

<div style="padding-top: 3mm">
    <h4>Example of a loco pick-up note:</h4>
    @locoConnectNote.Markup()
</div>
<div style="padding-top: 3mm">
    <h4>Example of a scheduled wagon group pick-up note:</h4>
    <p>@scheduledWagonsConnectNote.Markup()</p>
</div>

@code {
    LocoConnectNote locoConnectNote => new()
        {
            ForCallId = 1,
            DutyOperationDays = OperationDays.Daily,
            TrainOperationDays = OperationDays.Daily,
            LocoOperationDays = OperationDayFlags.MoWeFr.ToOperationDays(),
            LocoInfo = new()
            {
                Class = "Rc6",
                OperatorSignature = "SJ",
                LocoNumber = "1351",
                TurnusNumber = "51",
            },
            CollectFromStagingArea = true
        };

    ScheduledWagonsConnectNote scheduledWagonsConnectNote = new()
        {
            ForCallId = 2,
            DutyOperationDays = OperationDays.Daily,
            TrainOperationDays = OperationDays.Daily,
            Wagons = new ScheduledWagonsInfo[]
            {
                new ScheduledWagonsInfo
                {
                    PositionInTrain = 1,
                    TurnusNumber="55",
                    OperationDays = OperationDays.Daily,
                    MaxNumberOfWagons = 5,
                    Description = "Oil wagons"
                },
                new ScheduledWagonsInfo
                {
                    PositionInTrain = 2,
                    TurnusNumber="45",
                    OperationDays = OperationDayFlags.MoWeFr.ToOperationDays(),
                    MaxNumberOfWagons = 3
                },

            }

        };
}
